body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filter-label{
  width:100%;
}

th{
  cursor: pointer;
}

th:focus{
  outline:none;
}

.react-bs-table-csv-btn{
  background-color: #5cb85c;
  color: white;
}

.dropdown-column{
  float:right;
  padding:10px;
}

hr{margin:5px;}